In [1]:
        
import pandas as pd
import task_pb2
import worker_pb2
# open pandas dataframe from csv file

In [3]:
workers = pd.read_csv("workers.csv")

In [4]:
workers

   worker_id  worker_status  task_type  task_id  task_status
0    95628.0            2.0        1.0      0.0          2.0
1    95646.0            2.0        1.0      1.0          1.0
2        NaN            NaN        2.0      0.0          0.0
3        NaN            NaN        2.0      1.0          0.0
4        NaN            NaN        2.0      2.0          0.0
5        NaN            NaN        2.0      3.0          0.0

In [6]:
# Filtriamo i lavoratori che hanno task di tipo MAP
map_workers = workers[workers['task_type'] == 1.0]

map_workers

   worker_id  worker_status  task_type  task_id  task_status
0    95628.0            2.0        1.0      0.0          2.0
1    95646.0            2.0        1.0      1.0          1.0

In [7]:
# Verifica se il numero di task con status 2.0 è uguale al numero di task MAP in meno codice
print("Il numero di task con status 2.0 è uguale al numero di task MAP" if map_workers['task_status'].eq(2.0).sum() == len(map_workers) else "Il numero di task con status 2.0 NON è uguale al numero di task MAP")

Il numero di task con status 2.0 NON è uguale al numero di task MAP

In [9]:
# Filtriamo i lavoratori che hanno task di tipo MAP
all(map_workers['task_status'] == 2.0)

False